# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.db
*.sqlite3

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
media/
staticfiles/
.env
.venv/
venv/
venv.bak/
*.egg-info/
dist/
build/

# IDEs
.vscode/
.idea/
*.swp
/api/__pycache__/

